.container {
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.3);
  max-width: 90vw;
  max-height: 80vh;
  margin: 10rem auto;
  min-height: 60rem; }

.header {
  background-color: #fff;
  border-bottom: 1px solid #191e29;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    width: 8rem;
    margin-left: 2rem; }
  .header__title {
    font-size: 5rem;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: auto; }

.search {
  margin-right: 45rem; }

.user-nav__icon {
  width: 8rem;
  height: 8rem;
  margin-right: 5rem; }

.content {
  display: flex;
  background-color: #fff;
  min-height: 70vh; }

.content__menu {
  display: flex;
  flex-direction: column;
  width: 100%; }

.sidebar {
  background-color: #191e29;
  flex: 0 0 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-nav {
  font-size: 1.7rem;
  margin-top: 4rem;
  list-style: none; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 1rem; }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #c72c41;
    transition: transform 0.2s, width 0.4s 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    color: #fff;
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #db3d52; }
  .side-nav__link:link, .side-nav__link:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: block;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    color: #fff;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    fill: currentColor; }

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background-color: #d9d9d9;
  height: 60rem;
  flex: 1;
  position: relative; }

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 55rem;
  width: 120rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #191e29;
  position: relative; }
  .section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #c72c41, #801336);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 80%);
    z-index: 0; }
  .section-hero__content {
    margin-top: 5rem;
    margin-right: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 20rem; }
  .section-hero__title {
    color: #fff;
    z-index: 1;
    font-size: 4.4rem;
    width: 100%; }
  .section-hero__paragraph {
    color: #fff;
    z-index: 1;
    width: 100%; }
  .section-hero__image {
    margin-right: 5rem;
    z-index: 10;
    width: 40%;
    border: 1.5rem solid #801336; }
  .section-hero__button {
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 4rem;
    background-color: #c72c41;
    color: #fff;
    font-size: 2rem;
    border: transparent;
    outline: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-hero__button:active {
      background-color: #db3d52; }
    .section-hero__button:visited {
      color: #fff; }

.section-menu {
  flex: 1;
  background-color: #404040; }

.footer {
  background-color: #191e29;
  border-top: 1px solid #404040;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #6a6d70; }
    .footer__link:link:hover, .footer__link:visited:hover {
      color: #c72c41; }
  .footer__logo {
    width: 8rem;
    height: 8rem;
    filter: hue-rotate(-22deg) saturate(3.5); }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); }

.card {
  background-color: #191e29;
  margin: 2rem;
  width: 40rem;
  height: 50rem;
  color: #d9d9d9;
  border-radius: 2.5rem;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .card__image {
    width: 8rem;
    height: 8rem; }
  .card__category {
    align-self: flex-start;
    margin-left: 4rem; }
  .card__price {
    font-weight: 800;
    font-size: 3.2rem; }
  .card__buttons {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .card__buttons--info {
      margin-bottom: 2rem;
      background-color: transparent;
      color: #c72c41;
      outline: transparent;
      border: transparent;
      cursor: pointer; }
    .card__buttons--addCart {
      font-size: 3rem;
      padding: 1rem 3rem;
      background-color: #c72c41;
      color: #fff;
      cursor: pointer; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(to bottom right, #c72c41 20%, #801336 70%);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
