/*
0-600px:Phone
6-900px: Tablet Portrait
9-1200px: Tablet Landscape
12-1800px: (Default) Desktop
1800px+: Big Desktop

$breakpoint argument choices
-phone 
-tab-port
-tab-land
-big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(to bottom right, #c72c41 20%, #801336 70%);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield; }

.container {
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.3);
  max-width: 90vw;
  max-height: 80vh;
  margin: 10rem auto;
  min-height: 60rem; }

.header {
  background-color: #fff;
  border-bottom: 1px solid #191e29;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    width: 8rem;
    margin-left: 2rem; }
  .header__title {
    font-size: 4rem;
    font-weight: bold;
    margin-left: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    margin-right: auto; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #d9d9d9;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 30%;
    margin-right: -3.5rem;
    transition: all 0.2s; }
    .search__input:focus {
      outline: none;
      width: 50%;
      background-color: #d9d9d9; }
    .search__input::placeholder {
      font-weight: 100;
      color: #404040; }
  .search__input:focus + .search__button {
    background-color: #d9d9d9; }
  .search__button {
    border: none;
    background-color: #d9d9d9; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #404040; }

.user-nav {
  cursor: pointer; }
  .user-nav__icon {
    width: 8rem;
    height: 8rem;
    margin-right: 5rem; }
  .user-nav__dropdown {
    position: absolute;
    background-color: #fff;
    border: 0.5rem solid #d9d9d9;
    box-shadow: 0px 0.8rem 1.6rem 0px rgba(0, 0, 0, 0.2);
    padding: 1.2rem 1rem;
    z-index: 1; }
  .user-nav__dropdown-item {
    display: block;
    width: 100%;
    padding: 1.2rem 1.2rem;
    text-decoration: none;
    color: black; }
    .user-nav__dropdown-item:hover {
      background-color: #f1f1f1; }

.content {
  display: flex;
  background-color: #fff;
  min-height: 70vh; }
  @media only screen and (max-width: 37.5em) {
    .content {
      flex-direction: column; } }

.content__menu {
  display: flex;
  flex-direction: column;
  width: 100%; }

.sidebar {
  background-color: #191e29;
  flex: 0 0 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      display: flex;
      flex-direction: row; } }

.side-nav {
  font-size: 1.7rem;
  margin-top: 4rem;
  list-style: none; }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-evenly;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #c72c41;
    transition: transform 0.2s, width 0.4s 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    color: #fff;
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #db3d52; }
  .side-nav__link:link, .side-nav__link:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: block;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
  .side-nav__icon {
    color: #fff;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: auto;
        margin-left: auto; } }

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background-color: #d9d9d9;
  height: 100%;
  flex: 7;
  position: relative; }

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 7;
  margin-bottom: 2rem;
  border-bottom: 1.5rem solid #801336;
  border-right: 1.5rem solid #801336;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .section-hero {
      border: none; } }
  .section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #c72c41, #801336);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 80%);
    z-index: 0; }
    @media only screen and (max-width: 37.5em) {
      .section-hero::before {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%); } }
  .section-hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 75%;
    background: #140b0e;
    z-index: 0; }
    @media only screen and (max-width: 37.5em) {
      .section-hero::after {
        top: 70%;
        left: 0; } }
  .section-hero__content {
    margin-top: 5rem;
    margin-right: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 7rem;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .section-hero__content {
        margin: 0;
        flex-direction: column;
        align-items: center; } }
  .section-hero__title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    z-index: 1;
    font-size: 4rem;
    width: 100%; }
  .section-hero__paragraph {
    color: #fff;
    z-index: 1;
    width: 100%; }
  .section-hero__image {
    margin-right: -10rem;
    z-index: 10;
    width: 25rem;
    margin-top: -2rem;
    border: 1.5rem solid #c72c41;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .section-hero__image {
        margin: 0;
        margin-bottom: -6rem;
        align-self: flex-start;
        justify-self: end; } }
  .section-hero__button {
    align-self: center;
    margin-right: 7rem;
    margin-bottom: 3rem;
    width: 20rem;
    height: 6rem;
    background-color: #c72c41;
    color: #fff;
    font-size: 2.5rem;
    border: transparent;
    outline: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-decoration: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .section-hero__button {
        margin: 0 5rem 0 0;
        margin-bottom: 3rem;
        align-self: flex-end; } }
    .section-hero__button:active {
      background-color: #db3d52; }
    .section-hero__button:visited {
      color: #fff; }

.section-info {
  flex: 3;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: -2rem;
  margin-bottom: -2rem;
  border-bottom: 1.5rem solid #801336; }
  @media only screen and (max-width: 37.5em) {
    .section-info {
      margin: 0;
      flex-direction: column; } }
  .section-info__photo {
    max-width: 40rem;
    max-width: 40rem; }
    @media only screen and (max-width: 37.5em) {
      .section-info__photo {
        max-width: 100%;
        object-fit: cover; } }
  .section-info__text-button-container {
    margin-left: 3rem;
    display: flex;
    flex-direction: column; }
  .section-info__title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 3.5px;
    text-transform: uppercase; }
  .section-info__button {
    align-self: center;
    margin-top: 2rem;
    width: 70%;
    background-color: #c72c41;
    color: #fff;
    font-size: 2.5rem;
    border: transparent;
    outline: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .section-info__button {
        margin: 0 5rem 0 0;
        margin-bottom: 3rem;
        align-self: flex-end; } }
    .section-info__button:active {
      background-color: #db3d52; }

.section-aside {
  flex: 3;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1.5rem solid #801336;
  align-items: end;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section-aside {
      flex-direction: column;
      align-items: flex-end;
      align-items: center;
      justify-content: space-evenly; } }
  .section-aside__photo {
    width: 25rem; }
    .section-aside__photo--1 {
      width: 37.5rem; }
    .section-aside__photo--2 {
      object-fit: cover; }
    .section-aside__photo--3 {
      width: 37.5rem; }
    @media only screen and (max-width: 37.5em) {
      .section-aside__photo {
        width: 45rem;
        object-fit: unset; } }
  .section-aside__second-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .section-aside__second-div {
        flex-direction: column;
        align-items: center;
        order: 3; } }
  .section-aside__button {
    background-color: #c72c41;
    width: 7rem;
    color: #fff;
    font-size: 2.5rem;
    border: transparent;
    outline: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .section-aside__button {
        margin: 2rem 0;
        width: 90%;
        order: 2; } }
    .section-aside__button:active {
      background-color: #db3d52; }
    .section-aside__button:visited {
      color: #fff; }
  .section-aside__button-text {
    writing-mode: vertical-lr;
    text-orientation: upright; }
    @media only screen and (max-width: 37.5em) {
      .section-aside__button-text {
        writing-mode: unset;
        text-orientation: unset;
        font-size: 4rem; } }

.footer {
  background-color: #191e29;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: 25rem;
      justify-content: flex-start; } }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .footer__list {
        height: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .footer__item--logo {
      grid-column: 2 / 2;
      grid-row: 2 / 2; } }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #6a6d70;
    font-size: 2rem;
    transition: all 0.2s ease-in-out; }
    .footer__link:link:hover, .footer__link:visited:hover {
      color: #c72c41; }
  .footer__logo {
    width: 8rem;
    height: 8rem;
    filter: hue-rotate(-22deg) saturate(3.5); }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  justify-items: center; }

.card {
  background-color: #191e29;
  margin: 2rem;
  width: 40rem;
  height: 50rem;
  color: #d9d9d9;
  border-radius: 0.7rem;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .card__title {
    padding-top: 2rem; }
  .card__image {
    height: 20rem; }
  .card__category {
    align-self: flex-start;
    margin-left: 4rem; }
  .card__price {
    font-weight: 800;
    font-size: 3.2rem; }
  .card__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem; }
    .card__buttons--info {
      margin-bottom: 2rem;
      font-size: 2rem;
      background-color: transparent;
      color: #c72c41;
      outline: transparent;
      border: transparent;
      cursor: pointer; }
    .card__buttons--addCart {
      font-size: 3rem;
      padding: 1rem 3rem;
      background-color: #c72c41;
      color: #fff;
      cursor: pointer; }

.popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }

.info {
  font-size: 1.8rem;
  padding: 2rem; }
  .info__title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .info__heading {
    font-size: 2.2rem; }
  .info__paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.3);
  margin: 0rem auto;
  padding: 2rem; }
  .product__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem; }
  .product__title {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem; }
  .product__image {
    width: 20rem;
    margin-bottom: 1rem; }
  .product__category, .product__price, .product__description {
    background-color: #d9d9d9;
    border: none;
    padding: 0.7rem 2rem;
    width: 100%;
    transition: all 0.2s; }
  .product__category:hover, .product__price:hover, .product__description:hover {
    background-color: #fff; }
  .product__price {
    font-size: 3.5rem;
    text-align: center; }
  .product__details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
  .product__ingredients, .product__nutrients {
    display: flex;
    flex-direction: column; }
  .product__quantity {
    width: 100%;
    border-top: 2px solid #d9d9d9; }
    .product__quantity--input, .product__quantity--label {
      margin-left: 10rem;
      font-size: 2.4rem;
      height: 3rem; }
    .product__quantity--input {
      width: 30%; }
  .product__button--add-cart {
    border: none;
    color: #fff;
    background-color: #c72c41;
    height: 5rem;
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
    cursor: pointer; }
  .product__button--favorite {
    width: 4rem;
    height: 4rem;
    cursor: pointer; }

.ingredients {
  display: flex;
  flex-direction: column; }

.cart {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%; }
  .cart__left-container {
    flex: 7;
    height: 100%;
    width: 100%;
    border-right: 2px solid #c72c41;
    display: flex;
    flex-direction: column; }
  .cart__right-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .cart__heading {
    height: 10rem;
    font-size: 4rem;
    justify-self: center;
    background: linear-gradient(to bottom, #c72c41, #801336); }
  .cart-list {
    list-style: none;
    width: 100%; }
    .cart-list__item {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 2rem; }
      .cart-list__item:not(:last-child) {
        border-bottom: 1px solid #c72c41; }
      .cart-list__item--btn-remove {
        fill: #801336;
        order: 2;
        margin-left: auto; }
  .cart-total__heading {
    margin-top: 5rem; }
  .cart-checkout__button-confirm {
    margin-bottom: 10rem; }
    .cart-checkout__button-confirm--disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5; }
