.container {
  box-shadow: var(--shadow-dark);
  max-width: 150rem;
  margin: 10rem auto;
  min-height: 60rem; }

.header {
  background-color: #d9d9d9; }

.content {
  display: flex;
  background-color: #fff; }

.sidebar {
  background-color: #191e29;
  flex: 0 0 17%; }

.main {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  height: 60rem;
  width: 85rem; }

.hero {
  background-color: blue;
  flex: 0 0 35rem; }

.info {
  background-color: green;
  flex: 1; }

.menu {
  background-color: yellow;
  flex: 1; }

.footer {
  background-color: #191e29;
  background-color: tomato;
  height: 12rem; }
  .footer__list {
    display: flex;
    flex-direction: row; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(to bottom right, #c72c41, #801336);
  min-height: 100vh; }
