// $color-primary: #ffca95;
$color-primary: #ffd482;
$color-gray-dark-1: #605b68;
$color-gray-dark-2: #6b676e;
$color-gray-light-1: #c0c0c2;
$color-gray-light-2: #d0cdc9;
$color-black: #080808;
$color-black-2: #292828;
$color-white-1: #f1f0f0;
