$color-primary-1: #c72c41;
$color-primary-light-1: #db3d52;
$color-primary-dark-1: #801336;

$color-white-1: #fff;

$color-gray-light-1: #d9d9d9;

$color-gray-dark-1: #404040; // not part of color palette!
$color-gray-dark-2: #6a6d70;

$color-black-1: #191e29; // color blackish blueish
$color-black-2: #140b0e; // color blackish redish

$--shadow-dark: 0 3rem 7rem rgba(0, 0, 0, 0.3);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // For rem purposes. Sets the html font to 10px, so 1rem = 10px. Using the % value to support users who changes browser fontsize.
	box-sizing: border-box;
}

body {
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background: linear-gradient(
		to bottom right,
		$color-primary-1 20%,
		$color-primary-dark-1 70%
	);
	min-height: 100vh;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
