*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // For rem purposes. Sets the html font to 10px, so 1rem = 10px. Using the % value to support users who changes browser fontsize.
	box-sizing: border-box;
}

body {
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background: linear-gradient(
		to bottom right,
		$color-primary-1 20%,
		$color-primary-dark-1 70%
	);
	min-height: 100vh;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
