.container {
	box-shadow: $--shadow-dark;
	// max-width: 150rem;
	max-width: 90vw;
	max-height: 80vh;
	margin: 10rem auto;
	min-height: 60rem;
}
.header {
	background-color: $color-white-1;
	border-bottom: 1px solid$color-black-1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 90vw;

	&__logo {
		width: 8rem;
		margin-left: 2rem;
	}

	&__title {
		font-size: 4rem;
		font-weight: bold;
		margin-left: 5rem;
		text-transform: uppercase;
		letter-spacing: 0.7rem;
		margin-right: auto;
	}
}
// THIS IS MEANT FOR A SEARCHBAR IN THE HEADER USING CONTEXT TO AUTOMATICALLY REDIRECT THE USER TO THE MENU
// .header-search {
// 	flex: 0 0 40%; // no grow, no shrink, take up 40 % width of total headers width
// 	display: flex; // set to flex for aligning child components
// 	align-items: center; // center
// 	justify-content: center; // center
// 	margin-right: 30rem;
// 	// margin-right: auto;
// 	&__input {
// 		font-family: inherit; // Since input types doesnt inherit font properties, explicitly set them to inherit
// 		font-size: inherit;
// 		color: inherit;
// 		background-color: $color-gray-light-1;
// 		border: none;
// 		padding: 0.7rem 2rem;
// 		border-radius: 100px;
// 		width: 90%; // Set to 90 % width of available space to allow searchbar to grow on focus
// 		margin-right: -3.5rem;
// 		transition: all 0.2s;

// 		&:focus {
// 			outline: none;
// 			width: 100%; // grow from 90 to 100% on focus
// 			background-color: $color-gray-light-1;
// 		}

// 		&::placeholder {
// 			font-weight: 100;

// 			color: $color-gray-dark-1;
// 		}
// 	}

// 	// When input is focused, select the sibling component button and give it same bck-clr as input
// 	&__input:focus + &__button {
// 		background-color: $color-gray-light-1;
// 	}

// 	&__button {
// 		border: none;
// 		background-color: $color-gray-light-1;

// 		&:focus {
// 			outline: none;
// 		}
// 		&:active {
// 			transform: translateY(2px);
// 		}
// 	}

// 	&__icon {
// 		height: 2rem;
// 		width: 2rem;
// 		fill: $color-gray-dark-1; // Change Color of SVG
// 	}
// }
.search {
	display: flex; // set to flex for aligning child components
	align-items: center; // center
	justify-content: center; // center
	margin-top: 5rem;
	// margin-right: auto;
	&__input {
		font-family: inherit; // Since input types doesnt inherit font properties, explicitly set them to inherit
		font-size: inherit;
		color: inherit;
		background-color: $color-gray-light-1;
		border: none;
		padding: 0.7rem 2rem;
		border-radius: 100px;
		width: 30%; // Set to 30 % width of available space to allow searchbar to grow on focus
		margin-right: -3.5rem;
		transition: all 0.2s;

		&:focus {
			outline: none;
			width: 50%; // grow from 30 to 50% on focus
			background-color: $color-gray-light-1;
		}

		&::placeholder {
			font-weight: 100;

			color: $color-gray-dark-1;
		}
	}

	// When input is focused, select the sibling component button and give it same bck-clr as input
	&__input:focus + &__button {
		background-color: $color-gray-light-1;
	}

	&__button {
		border: none;
		background-color: $color-gray-light-1;

		&:focus {
			outline: none;
		}
		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: $color-gray-dark-1; // Change Color of SVG
	}
}
.user-nav {
	cursor: pointer;
	&__user {
	}
	&__icon {
		width: 8rem;
		height: 8rem;
		margin-right: 5rem;
	}

	&__login-link {
		all: unset;
		// margin-right: 5rem;
		font-size: 2.5rem;
		transition: all 0.2s ease-in-out;
		padding: 1rem 2rem;
		background-color: $color-primary-light-1;
		color: $color-white-1;

		&:hover {
			font-size: 2.6rem;

			box-shadow: 0rem 1rem 20px 1px rgba(0, 0, 0, 0.2);
		}
		&:active {
			color: $color-primary-light-1;
			background-color: $color-white-1;
		}
	}

	&__dropdown {
		position: absolute;
		background-color: $color-white-1;
		border: 0.5rem solid $color-gray-light-1;
		box-shadow: 0px 0.8rem 1.6rem 0px rgba(0, 0, 0, 0.2);
		padding: 1.2rem 1rem;
		z-index: 1000;
	}

	&__dropdown-item {
		display: block;
		width: 100%;
		padding: 1.2rem 1.2rem;
		text-decoration: none;
		color: black;

		&:hover {
			background-color: #f1f1f1;
		}
	}
}

.content {
	display: flex;
	background-color: $color-white-1;
	min-height: 70vh;
	min-width: 90%;

	@include responsive(tab-land) {
		flex-direction: column;
		min-width: 90vw;
	}
	@include responsive(phone) {
		flex-direction: column;
	}
}

.content__menu {
	// code for the grid displayed in some components with different url
	display: flex;
	flex-direction: column;
	min-width: 80%;
}

.sidebar {
	background-color: $color-black-1;
	flex: 0 0 17%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 90%;

	@include responsive(phone) {
		display: flex;
		flex-direction: row;
	}
	//align-items: stretch;

	// @include responsive(phone) {
	// 	flex-direction: row;
	// }
}

.side-nav {
	font-size: 1.7rem;
	margin-top: 4rem;
	list-style: none;

	@include responsive(tab-land) {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-evenly;
		margin: 0;
	}
	@include responsive(phone) {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-evenly;
		margin: 0;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 1rem;

			@include responsive(phone) {
				margin: 0;
			}
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: $color-primary-1;
		transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
			background-color 0.1s;
	}

	&__item:hover::before,
	&__item--active::before {
		color: $color-white-1;
		transform: scaleY(
			1
		); // different from scale() which scales the entire element, scaleY only scales it on the Y-axis
		width: 100%;
	}
	&__item:active::before {
		background-color: $color-primary-light-1;
	}
	&__link:link,
	&__link:visited {
		//color: $color-gray-light-1;
		color: $color-white-1;
		text-decoration: none;
		text-transform: uppercase;
		padding: 1.5rem 3rem;
		display: block;
		position: relative;
		z-index: 10;

		display: flex;
		align-items: center;

		@include responsive(phone) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&__icon {
		color: $color-white-1;
		width: 4rem;
		height: 4rem;
		margin-right: 2rem;
		fill: currentColor;

		@include responsive(phone) {
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	background-color: $color-gray-light-1;
	height: 100%;
	// width: 100%;
	flex: 7; // 70 % of the content
	position: relative;
}
.section-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 7;
	margin-bottom: 2rem;
	border-bottom: 1.5rem solid $color-primary-dark-1;
	border-right: 1.5rem solid $color-primary-dark-1;
	position: relative; // positioning for the pseudo-element background

	@include responsive(phone) {
		border: none;
	}

	&::before {
		// gradient background
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(
			to bottom,
			$color-primary-1,
			$color-primary-dark-1
		);
		clip-path: polygon(0 0, 100% 0, 100% 60%, 0 80%);
		z-index: 0;

		@include responsive(phone) {
			clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 75%;
		background: $color-black-2;
		z-index: 0;

		@include responsive(phone) {
			top: 70%;
			left: 0;
		}
	}

	// &__content {

	&__content {
		margin-top: 5rem;
		margin-right: 20rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-left: 7rem;

		position: relative;

		@include responsive(phone) {
			margin: 0;
			flex-direction: column;
			align-items: center;
		}
	}
	&__title {
		color: $color-white-1;
		text-transform: uppercase;
		letter-spacing: 0.7rem;
		z-index: 1;
		font-size: 4rem;
		width: 100%;
	}

	&__paragraph {
		color: $color-white-1;
		z-index: 1;
		width: 100%;
	}

	&__image {
		margin-right: -10rem;
		z-index: 10;
		width: 25rem;
		margin-top: -2rem;
		border: 1.5rem solid $color-primary-1;

		position: relative;
		@include responsive(phone) {
			margin: 0;
			margin-bottom: -6rem;
			align-self: flex-start;
			justify-self: end;
		}
	}

	&__button {
		align-self: center; // FIX FLEXBOX IN MAIN SO THIS BUTTON IS ALLIGNED WITH THE CONTENT OF THIS COMPONENT
		margin-right: 7rem;
		margin-bottom: 3rem;

		width: 20rem; // Change to flex-basis for responsive design!
		height: 6rem;
		background-color: $color-primary-1;
		color: $color-white-1;
		font-size: 2.5rem;
		border: transparent;
		outline: transparent;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
		cursor: pointer;
		text-decoration: none;
		z-index: 10;

		// Necessary due to Link being an inline element by default
		display: flex;
		justify-content: center;
		align-items: center;

		@include responsive(phone) {
			margin: 0 5rem 0 0;
			margin-bottom: 3rem;
			align-self: flex-end;
		}

		&:active {
			background-color: $color-primary-light-1;
		}

		&:visited {
			color: $color-white-1;
		}
	}
}

.section-info {
	flex: 3;
	display: flex;
	align-items: center;
	background-color: $color-white-1;
	margin-top: -2rem;
	margin-bottom: -2rem;
	// height: 20rem;
	border-bottom: 1.5rem solid $color-primary-dark-1;

	@include responsive(phone) {
		margin: 0;
		flex-direction: column;
	}
	&__photo {
		max-width: 40rem;
		max-width: 40rem;
		// max-width: 100%;
		// max-width: 100%;
		// min-height: 50%;
		// min-width: 50%;

		// object-fit: cover;
		@include responsive(phone) {
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__text-button-container {
		margin-left: 3rem;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 3rem;
		font-weight: 500;
		letter-spacing: 3.5px;
		text-transform: uppercase;
	}

	&__button {
		align-self: center;
		margin-top: 2rem;
		width: 70%;
		background-color: $color-primary-1;
		color: $color-white-1;
		font-size: 2.5rem;
		border: transparent;
		outline: transparent;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
		cursor: pointer;

		@include responsive(phone) {
			margin: 0 5rem 0 0;
			margin-bottom: 3rem;
			align-self: flex-end;
		}

		&:active {
			background-color: $color-primary-light-1;
		}
	}
}
.section-aside {
	flex: 3; // 30 % of the content
	background-color: $color-gray-light-1; // Testing purposes only
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1.5rem solid $color-primary-dark-1;
	align-items: end;
	height: 100%;

	@include responsive(tab-land) {
		padding-top: 5rem;
		flex-direction: column;
		align-items: flex-end;
		align-items: center;
		justify-content: space-evenly;
	}
	@include responsive(phone) {
		flex-direction: column;
		align-items: flex-end;
		align-items: center;
		justify-content: space-evenly;
	}

	&__photo {
		width: 25rem;

		&--1 {
			width: 37.5rem;
		}
		&--2 {
			object-fit: cover;
		}

		&--3 {
			width: 37.5rem;
		}
		@include responsive(tab-land) {
			width: 45rem;
			object-fit: unset;
		}
		@include responsive(phone) {
			width: 45rem;
			object-fit: unset;
		}
	}
	&__first-div {
	}
	&__second-div {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		@include responsive(tab-land) {
			flex-direction: column;
			align-items: center;
			order: 3;
		}
		@include responsive(phone) {
			flex-direction: column;
			align-items: center;
			order: 3;
		}
	}

	&__button {
		background-color: $color-primary-1;
		width: 7rem;
		color: $color-white-1;
		font-size: 2.5rem;
		border: transparent;
		outline: transparent;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
		cursor: pointer;
		text-decoration: none;

		margin-left: auto;

		// Necessary due to Link being an inline element by default
		display: flex;
		justify-content: center;
		align-items: center;

		@include responsive(tab-land) {
			margin: 2rem 0;
			width: 90%;
			order: 2;
		}
		@include responsive(phone) {
			margin: 2rem 0;
			width: 90%;
			order: 2;
		}

		&:active {
			background-color: $color-primary-light-1;
		}

		&:visited {
			color: $color-white-1;
		}
	}

	&__button-text {
		writing-mode: vertical-lr;
		text-orientation: upright;
		@include responsive(tab-land) {
			writing-mode: unset;
			text-orientation: unset;
			font-size: 4rem;
		}
		@include responsive(phone) {
			writing-mode: unset;
			text-orientation: unset;
			font-size: 4rem;
		}
	}
}

.footer {
	background-color: $color-black-1;
	// border-top: 1px solid $color-gray-dark-1;
	height: 12rem; // testing purposes only
	min-width: 90vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	@include responsive(phone) {
		height: 25rem;
		justify-content: flex-start;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style: none;
		@include responsive(phone) {
			height: 20rem;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;

			justify-content: center;
			align-items: center;
		}
	}

	&__item {
		&--logo {
			@include responsive(phone) {
				grid-column: 2 / 2;
				grid-row: 2 / 2;
			}
		}
	}
	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: $color-gray-dark-2;
		font-size: 2rem;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: $color-primary-1;
		}
	}
	&__logo-box {
	}

	&__logo {
		width: 8rem;
		height: 8rem;
		filter: hue-rotate(-22deg) saturate(3.5);

		// on mixin responsive with the grid system, set this to the bottom of the page
		@include responsive(phone) {
			//position at the end of the grid
		}
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	justify-items: center;

	&__item {
	}
}

.card {
	background-color: $color-black-1;
	margin: 2rem;
	width: 40rem;
	height: 50rem;
	color: $color-gray-light-1;
	border-radius: 0.7rem;
	box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	&__title {
		padding-top: 2rem;
	}
	&__image {
		// width: 20rem;
		height: 20rem;
		//border-bottom: 0.1rem solid $color-gray-light-1;
	}

	&__category {
		align-self: flex-start;
		margin-left: 4rem;
	}

	&__price {
		font-weight: 800;
		font-size: 3.2rem;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 3rem;

		&--info {
			margin-bottom: 2rem;
			font-size: 2rem;
			background-color: transparent;
			color: $color-primary-1;
			outline: transparent;
			border: transparent;
			cursor: pointer;
		}

		&--addCart {
			font-size: 3rem;
			padding: 1rem 3rem;
			background-color: $color-primary-1;
			color: $color-white-1;
			cursor: pointer;
		}
	}
}

// SINGULAR POPUP FIXED ON SCREEN
.popup {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #444;
	color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

// MULTIPLE POPUPS STACKED ON TOP OF EACH OTHER
// BUGGY
// .popup-container {
// 	position: fixed;
// 	bottom: 20px;
// 	left: 50%;
// 	transform: translateX(-50%);
// 	display: flex;
// 	flex-direction: column-reverse;
// 	align-items: center;
// 	gap: 10px;
// }

// .popup {
// 	background-color: #444;
// 	color: white;
// 	padding: 20px;
// 	border-radius: 5px;
// 	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
// }
.info {
	font-size: 1.8rem;
	padding: 2rem;
	&__title {
		font-size: 5rem;
		text-align: center;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}

	&__heading {
		font-size: 2.2rem;
	}

	&__paragraph:not(:last-child) {
		margin-bottom: 2.5rem;
	}
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	box-shadow: $--shadow-dark;
	// max-width: 90vw;
	// max-height: 80vh;
	margin: 0rem auto;
	// min-height: 60rem;
	padding: 2rem;

	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
	}

	&__title {
		font-size: 4rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
		margin-bottom: 1rem;
	}

	&__image {
		width: 20rem;
		margin-bottom: 1rem;
	}

	&__category,
	&__price,
	&__description {
		// font-family: inherit;
		// font-size: inherit;
		// color: inherit;
		background-color: $color-gray-light-1;
		border: none;
		padding: 0.7rem 2rem;
		width: 100%;
		// margin-bottom: 1rem;
		transition: all 0.2s;
	}
	&__category:hover,
	&__price:hover,
	&__description:hover {
		background-color: $color-white-1;
	}
	&__price {
		font-size: 3.5rem;
		text-align: center;
	}
	&__details {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}

	&__ingredients,
	&__nutrients {
		display: flex;
		flex-direction: column;
		//width: 45%;
	}

	&__quantity {
		width: 100%;
		// margin-left: 10rem;
		border-top: 2px solid $color-gray-light-1;
		&--input,
		&--label {
			margin-left: 10rem;
			font-size: 2.4rem;
			height: 3rem;
		}
		&--input {
			width: 30%;
		}
	}

	&__button--add-cart {
		border: none;
		color: $color-white-1;
		background-color: $color-primary-1;
		padding: 0.5rem 1rem;
		height: 5rem;
		font-size: 3rem;
		margin-top: 2rem;
		margin-left: 2rem;
		text-transform: uppercase;
		cursor: pointer;

		@include responsive(phone) {
			margin-left: 27%;
		}
	}

	&__button--favorite {
		width: 4rem;
		height: 4rem;
		// order: 1;
		cursor: pointer;
	}
}
// .product {
// 	box-shadow: $--shadow-dark;
// 	// max-width: 90vw;
// 	// max-height: 80vh;
// 	// margin: 10rem auto;
// 	// min-height: 60rem;

// 	&__button--favorite {
// 		cursor: pointer;
// 	}

// 	&__title {
// 		font-size: 4rem;
// 		font-weight: bold;
// 		margin-left: 5rem;
// 		text-transform: uppercase;
// 		letter-spacing: 0.7rem;
// 		margin-right: auto;
// 	}

// 	&__image {
// 		width: 8rem;
// 		margin-left: 2rem;
// 	}

// 	&__category,
// 	&__price,
// 	&__description {
// 		font-family: inherit;
// 		font-size: inherit;
// 		color: inherit;
// 		background-color: $color-gray-light-1;
// 		border: none;
// 		padding: 0.7rem 2rem;
// 		// border-radius: 100px;
// 		width: 30%;
// 		// margin-right: -3.5rem;
// 		transition: all 0.2s;
// 	}

// 	&__ingredients__item {
// 		height: 2rem;
// 		width: 2rem;
// 		fill: $color-gray-dark-1;
// 	}

// 	&btn__add-cart {
// 		border: none;
// 		background-color: $color-gray-light-1;
// 	}

// 	&__button--favorite {
// 		width: 8rem;
// 		height: 8rem;
// 		margin-right: 5rem;
// 	}

// display: flex;
// flex-direction: row;
// flex-wrap: wrap;
// // align-items: center;

// &__title {
// 	width: 100%;
// }
// &__image {
// 	flex: 1;
// }
// &__category {
// 	width: 100%;
// }
// &__price {
// 	font-size: 3rem;
// 	width: 100%;
// }
// &__description {
// 	border-bottom: 2px solid $color-primary-1;
// 	width: 100%;
// }

// &__ingredients {
// 	display: flex;
// 	flex-direction: column;

// 	list-style: none;
// 	font-size: 3rem;
// 	&__item {
// 		font-size: 2rem;
// 	}
// }
//}
.ingredients {
	display: flex;
	flex-direction: column;
}

.cart {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	border-top: 0.5rem solid $color-black-1;
	@include responsive(phone) {
		flex-direction: column;
		font-size: 2.2rem;
	}

	&__left-container {
		flex: 6;
		height: 100%;
		width: 100%;
		border-right: 2px solid $color-primary-1;
		display: flex;
		flex-direction: column;
	}
	&__right-container {
		flex: 4;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
	}

	&__heading {
		height: 10rem;
		font-size: 4rem;
		justify-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-white-1;
		background: linear-gradient(
			to bottom,
			$color-primary-1,
			$color-primary-dark-1
		);
		&--text {
		}
	}

	&-list {
		list-style: none;
		width: 100%;

		&__item {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 2rem;

			&--name {
				font-size: 2rem;
				color: $color-black-2;
			}
			border-bottom: 1px solid $color-gray-dark-1;
			// &:not(:last-child) {
			// 	border-bottom: 1px solid $color-primary-1;
			// }
		}
		&__button {
			&--remove {
				fill: $color-primary-dark-1;
				order: 2;
				margin-left: auto;
				cursor: pointer;
				&:hover {
					fill: $color-primary-1;
				}
			}
			&--increase {
				fill: $color-green-3;
				cursor: pointer;
				&:hover {
					fill: $color-green-2;
				}
			}
			&--decrease {
				fill: $color-primary-dark-1;
				cursor: pointer;
				&:hover {
					fill: $color-primary-1;
				}
			}
		}
	}

	&-total {
		&__heading {
			height: 10rem;
			width: 100%;
			font-size: 3rem;
			justify-self: center;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-white-1;
			text-transform: uppercase;
			background: linear-gradient(to bottom, $color-black-1, $color-black-2);
		}
	}
	&-checkout {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;

		&__adress {
			width: 50%;
			margin-top: 5rem;
			margin-bottom: 2rem;
			//background-color: $color-primary-light-1;
			display: flex;
			flex-direction: column;
			//width: 30rem;
			// border-bottom: 2px solid $color-gray-dark-1;
		}

		&__card-container,
		&__swish-container {
			width: 50%;
			display: flex;
			flex-direction: column;
		}

		&__error {
			color: $color-primary-1;
		}

		&__checkbox-container {
			display: flex;
			align-items: first baseline;
			justify-content: space-around;

			margin-bottom: 3rem;
		}

		&__button-confirm {
			// margin-bottom: 10rem;
			margin-top: 5rem;
			margin-bottom: 3rem;
			align-self: center;
			font-size: 2rem;
			padding: 1rem 2.5rem;
			letter-spacing: 0.2rem;
			border-radius: 0.5rem;
			color: $color-black-1;
			box-shadow: 0.5rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
			background-color: $color-green-1;
			cursor: pointer;
			transition: all.2s;

			&:hover {
				background-color: $color-green-2;
			}

			&--disabled {
				pointer-events: none;
				cursor: not-allowed; // why is this not working?
				opacity: 0.5;
			}
		}
	}
}

#checkbox-card,
#checkbox-swish {
	margin-left: 0.5rem;
}

.user-page {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	& h2 {
		text-align: center;
		margin-top: 2rem;
		font-size: 4rem;
		margin-bottom: 2rem;
		border-bottom: 2px solid $color-gray-dark-1;
		@include responsive(phone) {
			text-align: center;
			margin-top: 5rem;
			margin-bottom: 2rem;
			font-size: 4rem;
			border-bottom: 2px solid $color-gray-dark-1;
		}
	}
	@include responsive(phone) {
		flex-direction: column;
		align-items: center;
	}
	&__favorites {
	}
	&__orders {
	}
}

.login {
	background-color: $color-white-1;
	height: 70vh;
	display: flex;
	justify-content: center;

	&__form {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		text-align: center;
		padding-top: 2rem;
		font-size: 3.5rem;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
		box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.3%);
		color: $color-white-1;
		background-color: $color-primary-1;
		width: 100%;
		height: 15%;
		margin-bottom: 2rem;
	}

	&__group {
		height: 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		&--name {
			display: flex;
			flex-direction: column;
		}
		&--password {
			display: flex;
			flex-direction: column;
		}
	}
	&__label {
		&--name {
			font-size: 2.5rem;
			// background-color: red;
		}

		&--password {
			font-size: 2.5rem;
		}
	}

	&__input {
		&--name {
			margin-top: 0.5rem;
			font-size: 2.5rem;
		}
		&--password {
			margin-top: 0.5rem;
			font-size: 2.5rem;
		}
	}

	&__button--login {
		margin-top: 12rem;
		padding: 1rem 8rem;
		font-size: 2rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
		text-transform: uppercase;
		align-self: center;
		transition: all 0.2s cubic-bezier(1, 0, 0, 1);
		background-color: $color-primary-1;
		color: $color-white-1;
		border: none;
		cursor: pointer;

		&:hover {
			font-size: 2.2rem;

			box-shadow: 0rem 1rem 20px 1px rgba(0, 0, 0, 0.2);
		}
		&:active {
			// color: $color-primary-light-1;
			background-color: $color-primary-light-1;

			box-shadow: 0rem 0.5rem 20px 0.5px rgba(0, 0, 0, 0.2);
		}
	}
}
.register-link__container {
	margin-top: 1.7rem;

	&--link {
		color: $color-primary-light-1;
		margin-left: 0.5rem;
	}
}

.register {
	background-color: $color-white-1;
	height: 70vh;
	display: flex;
	justify-content: center;

	&__form {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		text-align: center;
		padding-top: 2rem;
		font-size: 3.5rem;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
		box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.3%);
		color: $color-white-1;
		background-color: $color-primary-1;
		width: 100%;
		height: 15%;
		margin-bottom: 2rem;
	}

	&__group {
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		&--name,
		&--email,
		&--password,
		&--confirm-password {
			display: flex;
			flex-direction: column;
		}
	}
	&__label {
		&--name,
		&--email,
		&--password,
		&--confirm-password {
			font-size: 2.5rem;
		}
	}

	&__input {
		&--name,
		&--email,
		&--password,
		&--confirm-password {
			margin-top: 0.5rem;
			font-size: 2.5rem;
		}
	}

	&__button--register {
		margin-top: 2rem;
		padding: 1rem 8rem;
		font-size: 2rem;
		letter-spacing: 0.1rem;
		font-weight: bold;
		text-transform: uppercase;
		align-self: center;
		transition: all 0.2s cubic-bezier(1, 0, 0, 1);
		background-color: $color-primary-1;
		color: $color-white-1;
		border: none;
		cursor: pointer;

		&:hover {
			font-size: 2.2rem;
			box-shadow: 0rem 1rem 20px 1px rgba(0, 0, 0, 0.2);
		}
		&:active {
			background-color: $color-primary-light-1;
			box-shadow: 0rem 0.5rem 20px 0.5px rgba(0, 0, 0, 0.2);
		}
	}
}
