$color-primary-1: #c72c41;
$color-primary-dark-1: #801336;

$color-white-1: #fff;

$color-gray-light-1: #d9d9d9;
$color-gray-dark-1: #404040; // not part of color palette!

$color-black-1: #191e29; // color blackish blueish
$color-black-2: #140b0e; // color blackish redish

$--shadow-dark: 0 3rem 7rem rgba(0, 0, 0, 0.3);

.container {
	box-shadow: $--shadow-dark;
	max-width: 150rem;
	margin: 10rem auto;
	min-height: 60rem;
}
.header {
	background-color: $color-gray-light-1;
}

.search {
	&__input {
	}

	&__button {
	}
}
.user-nav {
	&__user {
	}
	&__user-photo {
	}
}

.content {
	display: flex;
	background-color: $color-white-1;
}

.sidebar {
	background-color: $color-black-1;
	flex: 0 0 17%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.side-nav {
	font-size: 1.7rem;
	margin-top: 4rem;
	list-style: none;

	&__item {
		color: $color-primary-1;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: $color-primary-1;
	}

	&__link:link,
	&__link:visited {
		color: $color-primary-1;
		text-decoration: none;
		text-transform: uppercase;
		padding: 1.5rem 3rem;
		display: inline-block;
		position: relative;

		display: flex;
		align-items: center;
	}

	&__icon {
		width: 4rem;
		height: 4rem;
		margin-right: 2rem;
		fill: currentColor;
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	background-color: $color-gray-dark-1; // Testing purposes only
	height: 60rem; // testing purposes only

	flex: 1;
}
.section-hero {
	flex: 0 0 35rem;
	margin-bottom: 2rem;
}
.section-info {
}
.section-menu {
	flex: 1; // takes up the remaining space
}
.footer {
	background-color: $color-black-1;
	border-top: 1px solid $color-gray-dark-1;
	height: 12rem; // testing purposes only

	display: flex;
	flex-direction: column;
	justify-content: center;

	&__navigation {
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style: none;
	}

	&__item {
		// &:not(:last-child) {
		// 	margin-right: 1rem;
		// }
	}
	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: $color-gray-dark-1;
	}
	&__logo-box {
	}

	&__logo {
		width: 8rem;
		height: 8rem;
		filter: hue-rotate(-22deg) saturate(3.5);
	}
}
