$color-primary-1: #c72c41;
$color-primary-light-1: #db3d52;
$color-primary-dark-1: #801336;

$color-white-1: #fff;

$color-gray-light-1: #d9d9d9;

$color-gray-dark-1: #404040; // not part of color palette!
$color-gray-dark-2: #6a6d70;

$color-black-1: #191e29; // color blackish blueish
$color-black-2: #140b0e; // color blackish redish

$--shadow-dark: 0 3rem 7rem rgba(0, 0, 0, 0.3);

.container {
	box-shadow: $--shadow-dark;
	// max-width: 150rem;
	max-width: 90vw;
	max-height: 80vh;
	margin: 10rem auto;
	min-height: 60rem;
}
.header {
	background-color: $color-white-1;
	border-bottom: 1px solid$color-black-1;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		width: 8rem;
		margin-left: 2rem;
	}

	&__title {
		font-size: 5rem;
		font-weight: bold;
		margin-left: 5rem;
		margin-right: auto;
	}
}

.search {
	margin-right: 45rem;
	&__input {
	}

	&__button {
	}
}
.user-nav {
	&__user {
	}
	&__icon {
		width: 8rem;
		height: 8rem;
		margin-right: 5rem;

		// align-self: flex-end;
	}
	// &__user-photo {
	// }
}

.content {
	display: flex;
	background-color: $color-white-1;
	min-height: 70vh;
}

.content__menu {
	// code for the grid displayed in some components with different url
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sidebar {
	background-color: $color-black-1;
	flex: 0 0 17%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	//align-items: stretch;
}

.side-nav {
	font-size: 1.7rem;
	margin-top: 4rem;
	list-style: none;

	&__item {
		//color: $color-primary-1;
		position: relative;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		//cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: $color-primary-1;
		transition: transform 0.2s, width 0.4s 0.2s, background-color 0.1s;
	}

	&__item:hover::before,
	&__item--active::before {
		color: $color-white-1;
		transform: scaleY(
			1
		); // different from scale() which scales the entire element, scaleY only scales it on the Y-axis
		width: 100%;
	}
	&__item:active::before {
		background-color: $color-primary-light-1;
	}

	// &__item:hover + &__link {
	// 	color: $color-white-1;
	// }

	&__link:link,
	&__link:visited {
		//color: $color-gray-light-1;
		color: $color-white-1;
		text-decoration: none;
		text-transform: uppercase;
		padding: 1.5rem 3rem;
		display: block;
		position: relative;
		z-index: 10;

		display: flex;
		align-items: center;
	}

	&__icon {
		color: $color-white-1;
		width: 4rem;
		height: 4rem;
		margin-right: 2rem;
		fill: currentColor;
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	background-color: $color-gray-light-1;
	height: 60rem; // testing purposes only

	flex: 1;
	position: relative;
}
.section-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 55rem;
	width: 120rem; // change to flex-basis for responsive design
	margin-bottom: 2rem;
	border-bottom: 1px solid $color-black-1;
	position: relative; // positioning for the pseudo-element background

	&::before {
		// gradient background
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(
			to bottom,
			$color-primary-1,
			$color-primary-dark-1
		);
		clip-path: polygon(0 0, 100% 0, 100% 60%, 0 80%);
		z-index: 0;
	}

	&__content {
		margin-top: 5rem;
		margin-right: 20rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-left: 20rem;
	}
	&__title {
		color: $color-white-1;
		z-index: 1;
		// align-self: flex-start;
		font-size: 4.4rem;
		width: 100%;
	}

	&__paragraph {
		color: $color-white-1;
		z-index: 1;
		width: 100%;
		// justify-self: flex-end;
	}

	&__image {
		//justify-self: flex-end;
		margin-right: 5rem;
		z-index: 10;
		width: 40%;

		// margin-top: 7rem;

		border: 1.5rem solid $color-primary-dark-1;
	}
	&__button {
		align-self: center;
		margin-top: 3rem;
		margin-bottom: 2rem;
		width: 20rem; // Change to flex-basis for responsive design!
		height: 4rem;
		background-color: $color-primary-1;
		color: $color-white-1;
		font-size: 2rem;
		border: transparent;
		outline: transparent;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
		cursor: pointer;
		text-decoration: none;

		// Necessary due to Link being an inline element by default
		display: flex;
		justify-content: center;
		align-items: center;

		&:active {
			background-color: $color-primary-light-1;
		}

		&:visited {
			color: $color-white-1;
		}
	}
}

.section-info {
}
.section-menu {
	flex: 1; // takes up the remaining space
	background-color: $color-gray-dark-1; // Testing purposes only
}
.footer {
	background-color: $color-black-1;
	border-top: 1px solid $color-gray-dark-1;
	height: 12rem; // testing purposes only

	display: flex;
	flex-direction: column;
	justify-content: center;

	&__navigation {
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style: none;
	}

	&__item {
		// &:not(:last-child) {
		// 	margin-right: 1rem;
		// }
	}
	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: $color-gray-dark-2;

		&:hover {
			color: $color-primary-1;
		}
	}
	&__logo-box {
	}

	&__logo {
		width: 8rem;
		height: 8rem;
		filter: hue-rotate(-22deg) saturate(3.5);
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	&__item {
	}
}

.card {
	background-color: $color-black-1;
	margin: 2rem;
	width: 40rem;
	height: 50rem;
	color: $color-gray-light-1;
	border-radius: 2.5rem;
	box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	&__title {
		padding-top: 2rem;
	}
	&__image {
		// width: 20rem;
		height: 20rem;
		//border-bottom: 0.1rem solid $color-gray-light-1;
	}

	&__category {
		align-self: flex-start;
		margin-left: 4rem;
	}

	&__price {
		font-weight: 800;
		font-size: 3.2rem;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 3rem;

		&--info {
			margin-bottom: 2rem;
			font-size: 2rem;
			background-color: transparent;
			color: $color-primary-1;
			outline: transparent;
			border: transparent;
			cursor: pointer;
		}

		&--addCart {
			font-size: 3rem;
			padding: 1rem 3rem;
			background-color: $color-primary-1;
			color: $color-white-1;
			cursor: pointer;
		}
	}
}
.info {
	font-size: 1.8rem;
	padding: 2rem;
	&__title {
		font-size: 5rem;
		text-align: center;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}

	&__heading {
		font-size: 2.2rem;
	}

	&__paragraph:not(:last-child) {
		margin-bottom: 2.5rem;
	}
}
