.footer {
	display: flex;
	flex-direction: column;
	height: 22vh;
	margin-top: 5rem;
	background-image: linear-gradient(
		to bottom,
		$color-primary 0%,
		$color-primary 10%,
		$color-black-2 10%,
		$color-gray-dark-1 85%,
		$color-primary 85%,
		$color-primary 100%
	);
	&__container--upper {
		margin-top: 5rem;
		font-size: 2.4rem;
	}
	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style: none;
		margin-top: 1rem;
	}
	&__link {
		&:link,
		&:visited {
			color: $color-primary;
			text-decoration: none;
			height: fit-content;
			transition: all 0.2s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			filter: drop-shadow(0rem 0.8rem 0.8rem rgba($color-black, 0.8));
			transform: rotate(0.5deg) scale(1.1);
		}
	}
	&__container--lower {
		display: flex;
		justify-content: center;
	}
	&__logo {
		width: 13rem;
		// background: rgba($color-primary, 0.5);
		filter: drop-shadow(0.2rem 0.6rem 1rem rgba($color-black, 1));
		box-shadow: 0rem 0.5rem 1rem rgba($color-gray-dark-1, 0.2);
	}
}

// <footer class="footer">
// <div class="footer__container--upper">
//     <ul class="footer__list">
//         <a href="#" class="footer__link">Company</a>
//         <a href="#" class="footer__link">Support</a>
//         <a href="#" class="footer__link">Contact Us</a>
//         <a href="#" class="footer__link">Privacy Policy</a>
//         <a href="#" class="footer__link">Partners</a>
//         <a href="#" class="footer__link">Terms</a>
//     </ul>
// </div>
// <div class="footer__container--lower">
//     <img
//         src="./public/images/logo color.png"
//         alt="Colorized Bun Drop logo"
//     />
// </div>
// </footer>
