.navbar {
	color: white;
	width: 100%;
	background: linear-gradient(to bottom, $color-black, $color-black-2);

	&-list {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 10rem;

		&__item {
			list-style: none;
			font-size: 20px;
			cursor: pointer;
		}
	}
}
