.btn {
	width: 30rem;
	height: 6rem;
	font-size: 3rem;
	border-radius: 10rem;
	font-weight: 600;
	letter-spacing: 0.3rem;
	transition: all 0.3s;
	box-shadow: 0 0.5rem 1rem 0.4rem rgba($color-gray-dark-2, 0.2);
	cursor: pointer;
	&:hover {
		box-shadow: 0 0.7rem 1rem 0.6rem rgba($color-gray-dark-2, 0.2);
		transform: translateY(-0.1rem);
		background: lighten($color-primary, 1%);
	}
	&:active {
		box-shadow: 0 0.2rem 1rem 0.2rem rgba($color-gray-dark-2, 0.2);
		transform: translateY(0.1rem);
	}

	&__cta {
		background-color: $color-primary;
		color: $color-black;
	}
}
