*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%; //Same as font-size:10px
	/* Is set to 62.5% using this formula : default font-size is 16px while We want 10px. 10/16 = 0.625 aka 62.5 % */

	@include responsive(tab-land) {
		//w:<1200px ?
		font-size: 56.25%; //1rem = 9px
	}
	@include responsive(tab-port) {
		//w:<900px ?
		font-size: 50%; //1rem = 8px
	}

	@include responsive(big-desktop) {
		font-size: 75%; //1rem = 12px
	}
}

body {
	padding: 3rem;
	box-sizing: border-box;
	background-color: rgb(8, 7, 9);

	@include responsive(tab-port) {
		padding: 0;
	}
}
