.u-center-text {
	text-align: center !important;
}

.u-margin-bottom-small {
	margin-bottom: 2rem !important;
}
.u-margin-bottom-medium {
	margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
	margin-bottom: 8rem !important;
}

.u-margin-top-big {
	margin-bottom: 8rem !important;
}

.u-margin-top-huge {
	margin-bottom: 10rem !important;
}

.anchor-top {
	@include flexbox($placeItems: flex-start);
}

.anchor-bottom {
	@include flexbox($placeItems: flex-end);
}

.anchor-center {
	@include flexbox($placeItems: center);
}

.anchor-left {
	@include flexbox($placeContent: flex-start);
}

.anchor-right {
	@include flexbox($placeContent: flex-end);
}

.anchor-center-hor {
	@include flexbox($placeContent: center);
}

.flex-container-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-grow: 0;
}

.flex-container-row-reverse {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-grow: 0;
}

.flex-container-column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-grow: 0;
}

.flex-container-column-reverse {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-grow: 0;
}
